# wall-x/workspace/lerobot_example/config_qact.yml

# Model and paths configuration, for flow
log_name: "lerobot_training_flow"
log_project: "wall-oss_so101_finetuning"
model_type: wall-oss
pretrained_wallx_path: "/root/gpufree-data/huggingface/hub/models--x-square-robot--wall-oss-flow/snapshots/a4003288001825b10771cbc4b10b9c2315e9b862/"  # Must set
save_path: "/root/gpufree-data/output/train/so101-table-cleanup/wallx-native/"                # Must set
use_fast_tokenizer: False                       # True: train FAST, False: train Flow
#action_tokenizer_path: "/root/gpufree-data/huggingface/hub/models--physical-intelligence--fast/snapshots/ec4d7aa71691cac0b8bed6942be45684db2110f4"         # Must set if use_fast_tokenizer is true
processor_path: "/root/gpufree-data/huggingface/hub/models--x-square-robot--wall-oss-flow/snapshots/a4003288001825b10771cbc4b10b9c2315e9b862/"

# # Model and paths configuration
# log_name: "lerobot_training_fast"
# log_project: "wall-oss_finetuning"
# model_type: wall-oss
# pretrained_wallx_path: "/path/to/wall-oss-fast"  # Must set
# save_path: "/path/to/workspace/fast_checkpoints"                # Must set
# use_fast_tokenizer: True                       # True:fla train FAST, False: train Flow
# action_tokenizer_path: "/path/to/fast"         # Must set if use_fast_tokenizer is true

# Torch Profile
profile: False
profile_save_path: /path/to/profile/
profile_wait_iters: 10
profile_warmup_iters: 5
profile_active_iters: 2

# Training hyperparameters
num_warmup_steps: 100
num_training_steps: 64000000
learning_rate: 0.00005
min_lr: 0.00005
num_epoch: 100
gradient_accumulation_steps: 32
batch_size_per_gpu: 18
padding_side: left
epoch_save_interval: 1
freeze_vlm: True

# Training optimization settings
FSDP2: False
torch_compile: True


# Robot configuration - Define degrees of freedom for each component
dof_config:
  shoulder_pan.pos: 1
  shoulder_lift.pos: 1
  elbow_flex.pos: 1
  wrist_flex.pos: 1
  wrist_roll.pos: 1
  gripper.pos: 1

# Agent proprioception configuration (typically matches DOF config)
agent_pos_config:
  shoulder_pan.pos: 1
  shoulder_lift.pos: 1
  elbow_flex.pos: 1
  wrist_flex.pos: 1
  wrist_roll.pos: 1
  gripper.pos: 1

# Checkpoint resuming configuration
# resume:
#   ckpt: "/root/gpufree-data/output/train/so101-table-cleanup/wallx-native/0"
#   load_ckpt_only: true

norm_stats_path: /root/gpufree-data/output/train/so101-table-cleanup/wallx-native/action_stats/all_robots_action_stats.json

enable_customized_robot_config: true
customized_robot_config:
  name: "EverNorif/so101-table-cleanup"
  customized_dof_config:
    "action_all" : 6 #To match the total number of degrees of freedom

  customized_agent_pos_config:
    "state_all" : 6 #To match the total number of degrees of freedom

# Data configuration
data:
  use_lerobot: true

  # LeRobot dataset configuration
  lerobot_config:
    repo_id: "EverNorif/so101-table-cleanup"
    root: "/root/gpufree-data/huggingface/hub"
    episodes: null
    image_transforms: null
    delta_timestamps: null
    tolerance_s: 1e-4
    revision: null
    force_cache_sync: false
    download_videos: true
    video_backend: null

  action_horizon: 32
  train_test_split: 0.95

  # Action keys for observation and prediction
  obs_action_keys:
    - shoulder_pan.pos
    - shoulder_lift.pos
    - elbow_flex.pos
    - wrist_flex.pos
    - wrist_roll.pos
    - gripper.pos

  predict_action_keys:
    - shoulder_pan.pos
    - shoulder_lift.pos
    - elbow_flex.pos
    - wrist_flex.pos
    - wrist_roll.pos
    - gripper.pos

  # Image resolution configuration for different camera views
  resolution:
    face_view: 256
    left_wrist_view: 256
    right_wrist_view: 256
    move1_view: 256
    move2_view: 256
    top_view: 256
    wall_view: 256
    multi_modal: 256
